{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <style>
      .button {
        color: white !important;
        background-color: #ff4769;
        border-radius: 32px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none !important;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
      }
      
      .ii a[href] {
        color: white !important;
      }
    </style>
  </head>
  <body>
    <div style=" width: 500px; margin: 0 auto;">
      <div>
        <img src="https://django-skeleton.com/static/site/img/logo.png" alt="logo" width="auto" height="60" loading="lazy" style="display: block; margin-left: auto;  margin-right: auto;" />
      </div>

      <h1 style="font-weight: bolder; text-align: center;">{% translate 'Reset your password' %}</h1>
      <ul>
        <li>
          {% translate 'We received a request to reset your password.' %}
        </li>
        <li>
          {% translate 'Click the button below to get started.' %}
        </li>
        <li style="font-weight: bold; font-style: italic;">
          {% translate 'This link is valid for 1 hours or until it is used.' %}
        </li>
      </ul>

      <div style="display: flex; justify-content: center; align-items: center;">
        <a href="{{ password_reset_url }}" class="button" style="margin: 0 auto; text-decoration: none;">{% translate 'RESET YOUR PASSWORD' %}</a>
      </div>
      <br />
      <br />
      <div style="background-color: #ff4769; color: white; font-weight: bold; font-size: 28px; text-align: center; height: 100px">
        <div style="padding-top: 20px;">django-skeleton</div>
        <hr style="width: 450px; color: gray;" />
      </div>
      <div style="background-color: #ff4769; height: 80px;">
        <div style="width: 400px; margin: 0 auto;">
          <div style="color: white; text-align: center;">If you do not want to change your password or didn't request a reset, you can ignore and delete this email.</div>
        </div>
      </div>
      <div style="background-color: #ff4769; height: 60px;">
        <div style="margin: 0 auto;">
          <div style="color: white; text-align: center; font-size: 1.1em;">django-skeleton All rights reserved</div>
        </div>
      </div>
    </div>
  </body>
</html>
