{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% include "_brandname.html" %} - {% trans "Admin" %}{% endblock title%}

{% block branding %}
    <div>
        <a href="{% url 'home' %}">
            <img style="vertical-align: middle; margin-right: 5px;" src="{% static 'site/img/logo.png' %}" alt="logo" width="30" height="30">
            <span>{% include "_brandname.html" %} {% trans "Admin" %}</span>
        </a>
    </div>
{% endblock branding%}

{% block nav_global %}
    <a class="btn btn-default" href="{% url 'home' %}">{% trans " Switch to Site" %}</a>
{% endblock nav_global%}

{% block extrahead %}
    {{ block.super }}
    <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}">
{% endblock extrahead %}
