{% extends "admin/admin_base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content_title %}
{% endblock content_title %}

{% block nav-sidebar %}
{% endblock nav-sidebar %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 style="font-weight: bold; text-align: center; font-size: 200%"><img style="margin-right: 10px;" src="{% static 'site/img/logo.png' %}" alt="logo" height="60" width="60">{% include "_brandname.html" %}</h1>
        </div>
        <div class="row">
            <h1 style="font-weight: bold; text-align: center; font-size: 150%">Welcome to {% include "_brandname.html" %} admin site!</h1>
        </div>
    </div>
{% endblock content %}

