{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}
  {{ block.super }} - Dashboard
{% endblock %}

{% block extra_head_script %}

{% endblock %}

{% block navbar_left %}
  {% include '_navbar.html' with active_link='' %}
{% endblock %}

{% block content %}
  <div class="container-fluid h-100 mt-5">
    <div class="row h-100">
      {% block side_menu %}
        <aside id="sidebar" class="sidebar shadow border-secondary">
          <button onclick="toggleSubMenu(this)" class="menu-category">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#000000">
              <path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
            </svg>
            <span>{% trans 'TAK Servers' %}</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
              <path d="m480-509.91-184 184L221.91-400 480-658.09 738.09-400 664-325.91l-184-184Z" />
            </svg>
          </button>
          <ul class="sub-menu show">
            <div>
              <li class="w-100">
                <a href="{% url 'tenants:dashboard' %}" class="nav-link side-menu-text">{% trans 'Organizations' %}</a>
              </li>
              <li class="w-100">
                <a href="{% url 'tenants:dashboard' %}" class="nav-link side-menu-text">{% trans 'Users' %}</a>
              </li>
              <li class="w-100">
                <a href="{% url 'tenants:dashboard' %}" class="nav-link side-menu-text">{% trans 'TAK Servers' %}</a>
              </li>
            </div>
          </ul>
          <button onclick="toggleSubMenu(this)" class="menu-category">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#000000">
              <path d="M680-80q-83 0-141.5-58.5T480-280q0-83 58.5-141.5T680-480q83 0 141.5 58.5T880-280q0 83-58.5 141.5T680-80Zm67-105 28-28-75-75v-112h-40v128l87 87Zm-547 65q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h167q11-35 43-57.5t70-22.5q40 0 71.5 22.5T594-840h166q33 0 56.5 23.5T840-760v250q-18-13-38-22t-42-16v-212h-80v120H280v-120h-80v560h212q7 22 16 42t22 38H200Zm280-640q17 0 28.5-11.5T520-800q0-17-11.5-28.5T480-840q-17 0-28.5 11.5T440-800q0 17 11.5 28.5T480-760Z" />
            </svg>
            <span>{% trans 'TAK Servers' %}</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
              <path d="m480-509.91-184 184L221.91-400 480-658.09 738.09-400 664-325.91l-184-184Z" />
            </svg>
          </button>
          <ul class="sub-menu show">
            <div>
              <li class="w-100">
                <a href="{% url 'tenants:dashboard' %}" class="nav-link side-menu-text">{% trans 'Organizations' %}</a>
              </li>
              <li class="w-100">
                <a href="{% url 'tenants:dashboard' %}" class="nav-link side-menu-text">{% trans 'Users' %}</a>
              </li>
              <li class="w-100">
                <a href="{% url 'tenants:dashboard' %}" class="nav-link side-menu-text">{% trans 'TAK Servers' %}</a>
              </li>
            </div>
          </ul>
          <div id="toggle-btn" onclick="toggleSideMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
              <path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z" />
            </svg>
          </div>
        </aside>
      {% endblock %}

      <main id="mainContent" class="col main-content">
        {% block share_top %}

        {% endblock %}

        {% block main_content %}

        {% endblock %}

        {% block share_bottom %}

        {% endblock %}
      </main>
    </div>
  </div>
{% endblock %}

{% block footer %}

{% endblock %}

{% block scripts %}
  <script>
    const sidebar = document.getElementById('sidebar')
    const toggleBtn = document.getElementById('toggle-btn')
    
    function toggleSubMenu(element) {
      element.nextElementSibling.classList.toggle('show')
      element.classList.toggle('rotate')
    
      if (sidebar.classList.contains('close')) {
        sidebar.classList.remove('close')
        toggleBtn.classList.remove('rotate')
      }
    }
    
    function toggleSideMenu() {
      sidebar.classList.toggle('close')
      toggleBtn.classList.toggle('rotate')
    
      Array.from(sidebar.getElementsByClassName('show')).forEach((ul) => {
        ul.classList.remove('show')
        ul.previousElementSibling.classList.remove('rotate')
      })
    }
  </script>
{% endblock %}
