{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{{ block.super }} - {% trans "Profile" %}{% endblock head_title %}

{% block navbar_left %}
    {% include "_navbar.html" %}
{% endblock navbar_left %}

{% block extra_head_script %}
{% endblock extra_head_script %}

{% block content %}
    <div class="container mt-5">
        <div class="row profile-head">
            <div class="col-sm-2">
                <div class="row ml-1">
                    {% if user.profile.avatar %}
                        <img title="profile avatar" src="{{ MEDIA_URL}}{{ user.profile.avatar }}" alt="avatar" class="img-fluid w-auto">
                    {% else %}
                        <img title="profile avatar" src="{% static '/site/img/profile/default.png' %}" alt="avatar" class="img-fluid w-auto">
                    {% endif%}
                </div>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <h5 class="mt-3">{{ user.get_username }}</h5>
                    {% comment %} <h5 class="mt-3 fw-bold">{{ user.get_full_name }}</h5> {% endcomment %}
                </div>
                <div class="row">
                    <div class="mt-5">
                        {% if editable %}
                            <a href="{% url 'profiles:edit_self' %}" class="btn btn-primary">{% trans "Edit Profile" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-3">
                <ul class="list-group">
                    <li class="list-group-item bg-secondary" style="color: white; font-weight: bold;">{% trans "Profile" %}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Email" %}: </strong></span> {{ user.email|default:"missing" }}
                {% if user.profile.email_verified %}
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" title="This email address has been verified"></span>
                    <span class="sr-only">{% trans "Email verified" %}</span>
                {% else %}
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="This email address is not verified"></span>
                    <span class="sr-only">{% trans "Email not verified" %}</span>
                {% endif %}
                </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Joined" %}: </strong></span> {{ user.date_joined }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Last seen" %}: </strong></span> {{ user.last_login }}</li>
                </ul>
            </div>
            <div class="col-md-8 mt-3">
                <div class="card">
                    {% comment %} <div class="card-header fw-bold">{{ user.get_full_name }}'s {% trans "Profile" %} {% endcomment %}
                    <div class="card-header fw-bold">{{ user.get_username }}'s {% trans "Profile" %}
                        {% if user.profile.slug %}
                            <a href="{% url 'profiles:show' user.profile.slug %}">
                            <span class="glyphicon glyphicon-link" aria-hidden="true" title="Profile permalink"></span>
                            <span class="sr-only">{% trans "Permalink" %}</span></a>{{ user.profile.get_absolute_url }}
                        {% endif %}
                    </div>
                    <div class="card-body" style="height: 145px;">
                        <strong>{% trans "Bio" %}: </strong>{{ user.profile.bio }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

